html {
    overflow-y: scroll;
}

body {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    width: 100%;
    margin: auto;
}

a, a:visited { color: black; text-decoration: none; }
a:link, a:hover, a:active { color: #FF6961; }

.plink, .plink:visited, .plink:link, .plink:hover, .plink:active { color: #FF6961; }

p  { display: inline; margin: 3px; }
h1 { display: inline; margin: 3px; }
h2 { display: inline; margin: 3px; }
h3 { display: inline; margin: 3px; }
h4 { display: inline; margin: 3px; }

img {
    width: 100%;
}
aside {
    text-align: center;
    padding:5px;
    margin:10px;
}

article {
    border-bottom: 1px solid #FF6961;
    text-align: center;

    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #ff6961;
    background-image: #ff6961;
    background-size: 2px 2px;
}

article > h2 {
    text-align: center;
    width: 100%;

    font-size: 16px;
}


main {
    border: 1px solid #FF6961;
}

main > p {
    margin: 5px;
    position: relative;
}

.spacer { padding: 10px; }

@media(min-width: 800px) {
    body {
        width: 800px;
    }
    
    .webring {
        width: 800px;
    }

    .content-box {
        width: 800px;
    }
}